@page "/cursos"
@inject HttpClient Http

<h1>Cursos disponibles</h1>

<p>Selecciona el curso de tu interes para poder ver los videos</p>

@if (cursos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
<div class="grid-container" style="overflow-x:auto">
    @foreach (var curso in cursos)
    {
        <CursoCard miCurso=@curso></CursoCard>


            }
    </div>
    

    @code {
        private Cursos[] cursos;

        protected override async Task OnInitializedAsync()
        {
            cursos = await Http.GetFromJsonAsync<Cursos[]>("sample-data/cursos.json");
        }


    }
    }
