@page "/curso/detalles/{id_curso}"
@inject HttpClient Http

@code {
    [Parameter]
    public string id_curso { get; set; }
}

<header>
    <h1>Conoce mas sobre el curso!</h1>

    <p>Animate a aprender mas sobre este curso</p>
</header>

<div class="grid-container2">
    <div class="item1">
        <h6>Calificacion del curso</h6>
        @for (int i = 0; i < 5; i++)
        {
            <label for="radio1" style="font-size: 24px; color:gold">★</label>
        }
    </div>
    <div class="item2">
        <center>
            <img src="https://img-a.udemycdn.com/course/240x135/802946_e81d.jpg" width="400" />
        </center>
    </div>
    <div class="item3">
        <h2 class="texto3">Curso completo de blazor. de cero a experto.</h2>
        <h4 class="texto2">Descripcion: En este curso te convertiras en un master en programacion en blazor.</h4>
        <h4 class="texto2">Duracion del curso: 22 horas</h4>
        <h4 class="texto2">Curso gratuito</h4>
        <h4 class="texto2">
            Requisitos:<br />° Conocimiento básico de JavaScript es necesario<br />
            ° Puedes hacer el curso en Linux, Windows u OS X<br />
            ° Es recomendable saber un poco de HTML pero no es necesario
        </h4>
        <h4 class="texto2">Ultima fecha de modificacion: 10/09/2020</h4>
    </div>
    <button type="button" class="btn btn-success" item4" onclick="window.location.href='https://localhost:44356/curso/play/1'">Empezar ahora ►</button>
</div>

<p>You can refer to line numbers when placing grid items.</p>   


