@page "/fetchdata"
@inject HttpClient Http

<h1>Cursos disponibles</h1>

<p>Selecciona el curso de tu interes para poder ver los videos</p>

@if (cursos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Duracion</th>
                <th>Costo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cursos in cursos)
            {
                <tr>
                    <td>@cursos.Titulo</td>
                    <td>@cursos.Descripcion</td>
                    <td>@cursos.Duracion</td>
                    <td>@cursos.Id</td>
                    <td><button type="button" class="btn btn-primary" onclick="window.location.href = 'https://localhost:44356/video';">Ver mas</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Cursos[] cursos;

    protected override async Task OnInitializedAsync()
    {
        cursos = await Http.GetFromJsonAsync<Cursos[]>("sample-data/cursos.json");
    }

    public class Cursos
    {
        public String Id { get; set; }

        public String Titulo { get; set; }

        public String Descripcion { get; set; }

        public String Duracion { get; set; }

        public String Costo { get; set; }

    }
}
