@page "/video"
<h3>Video</h3>
<div class="contenedor">
    <div class="c-video">
        <video   class="video">
            <source src="./video/1.mp4" type="video/mp4" />
        </video>

        <div class="controls">
            <div class="orange-bar">
                <div class="orange-juice">

                </div>
            </div>
            <div class="buttons">
                <button id="play-pause"></button>
            </div>
        </div>
    </div>
</div>
@code {

}
